@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
  }

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
    background: var(--primary-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav img {
    margin: 1rem;
    width: 10rem;
    object-fit: contain;
}

#nav-buttons {
    width: 25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nav-button-objeto {
    font-weight: 1000;
    letter-spacing: 2px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

#nav-button_login {
    background: transparent;
    border: none;
}

#nav-button-subscription {
    width: 12rem;
    padding: .6rem;
    text-align: center;
    border-radius: 50px;
    background: var(--tertiary-color);
    transition: all .7s ease-in-out;
}

#nav-button-subscription:hover {
    color: var(--primary-color);
    background: white;
}

.button {
  padding: 16px 40px;
  background-color: var(--tertiary-color);
  border-radius: 500px;
  font-weight: 700;
  color: var(--text-color);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  border: none;
  cursor: pointer;
}

.button.button--gradient {
  background: var(--btn-bg-color-gradient);
  outline: 3px solid transparent;
  transition: background 1s, outline 1s, transform 1s;
  background-size: 250%;
}

.button.button--gradient:hover {
  background-color: transparent;
  background-position: 100%;
  outline: 2px solid var(--secondary-color);
  transform: scale(1.05);
}

