
/* Header */

main header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 60rem;
  background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
  background-size: 400% 400%;
  animation: background_gradient 5s ease infinite alternate;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.channels {
  margin-top: 10rem;
  height: 5rem;
  display: flex;
  gap: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header_channel {
  object-fit: contain; /* mantém a proporção sem cortar a imagem */
  transform: scale(1.4);
}

.header_title {
  margin-top: 5rem;
  color: white;
  text-align: center;
}

.header_title h2 {
  font-size: 2.5rem;
  font-weight: lighter;
}

.header_title h1 {
  font-size: 3.5rem;
}

.header_line {
  margin-top: 2.5rem;
  width: 50%;
  height: 0.4rem;  
  background: var(--divider-bg-color);
}

.header_preco {
  margin-top: 3rem;
  color: white;
  text-align: center;
}

.header_preco p {
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
}

.header_preco h1 {
  font-size: 3rem;
}

#header_preco_valor {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
}

.header__button {
  animation: wiggle 2.2s linear infinite;
  font-size: 1.4rem;
  margin-top: 3rem;
}

.header_padding {
  width: 18rem;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 3rem;
  color: white;
}
.header_padding p{
  font-family: "Quicksand", sans-serif;
}
.header_after {
    content: "";
    width: 100%;
    height: 250px;
    bottom: 0px;
    background: linear-gradient(0deg, var(--primary-color), transparent);
}

@keyframes background_gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    40%, 100% {
        transform: rotate(0);
    }
}

/* Main */

main {
  background: #020228;
}

.main_plans {
  background: url(/assets/images/background-movies-series.png);
  background-repeat: no-repeat;
  background-position: right;
  color: white;
  height: 60rem;

  display: flex;
  flex-flow: column;
  align-items: center;
}

.main_plans_title {
  width: 85%;
  padding: 5rem;
  text-align: center;
  font-size: 2.5rem;
}

.main_plans_cards {
  width: 100%;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem; 

  perspective: 1000px;
}

.main_plans_card {
  padding: 60px;
  width: 40rem;
  height: 45rem;
  border-radius: 10px;
  font-size: 1.5rem;
  background: var(--card-bg-color);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  transform-style: preserve-3d; 
  transition: transform 0.6s ease;
  backface-visibility: hidden;
  transition: transform 1s ease-in-out;
}

.main_plans_cards:has(.main_plans_card:nth-child(1):hover)
  .main_plans_card:nth-child(2) {
  transform: rotateY(-45deg);
}

.main_plans_cards:has(.main_plans_card:nth-child(2):hover)
  .main_plans_card:nth-child(1) {
  transform: rotateY(45deg);
}

.main_card_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main_title_price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

.card_title_text {
  font-weight: bolder;
  font-size: 2rem;
}

.main_price_value {
  font-weight: bolder;
  font-size: 2.5rem;
  color: #ff00e5;
}

.main_card_item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.main_card_text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main_card_button {
  font-size: 1rem;
}

.main_channels {
  margin-top: 15rem;
}

.main_channel {
  width: calc(15rem + 15vw);
  animation-delay: 2s;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid transparent;
  transition: transform 0.8s, background 0.8s, border 1s; 
}

.main_channel:hover {
  margin: 0;
  padding: 0;
  border-radius: 20px;
  
  transform: scale(1.05);
}

.main_channel:hover .main_channel_img {
  opacity: 0;
}

/* HBO Content */
.main_channel:nth-child(1):hover {
  background-image: url(/assets/images/hbo-hover_0.webp);
  background-size: cover; /* ou use 'contain' se quiser a imagem inteira visível */
  background-position: center;
  background-repeat: no-repeat;
}
/* MAX Content */
.main_channel:nth-child(2):hover {
  background-image: url(/assets/images/MAX-Hover.webp);
  background-size: cover; /* ou use 'contain' se quiser a imagem inteira visível */
  background-position: center;
  background-repeat: no-repeat;
}
/* DC Content */
.main_channel:nth-child(3):hover {
  background-image: url(/assets/images/DC-Hover.webp);
  background-size: cover; /* ou use 'contain' se quiser a imagem inteira visível */
  background-position: center;
  background-repeat: no-repeat;
}
/* Worner Content */
.main_channel:nth-child(4):hover {
  background-image: url(/assets/images/WB-Hover.webp);
  background-size: cover; /* ou use 'contain' se quiser a imagem inteira visível */
  background-position: center;
  background-repeat: no-repeat;
}
/* Cartoon Content */
.main_channel:nth-child(5):hover {
  background-image: url(/assets/images/CN-Hover.png);
  background-size: cover; /* ou use 'contain' se quiser a imagem inteira visível */
  background-position: center;
  background-repeat: no-repeat;
}
/* UCL Content */
.main_channel:nth-child(6):hover {
  background-image: url(/assets/images/UCL-Hover.webp);
  background-size: cover; /* ou use 'contain' se quiser a imagem inteira visível */
  background-position: center;
  background-repeat: no-repeat;
}

.main_channel_img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 2s;
}

.main_channel_title {
  color: white;
  margin-bottom: 5rem;
  margin: auto;
  text-align: center;
  padding: 1.5rem;
  font-size: 2.5rem;
  font-weight: 300;
}

.channel_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

















