
/* Header */

main header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 60rem;
  background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
  background-size: 400% 400%;
  animation: background_gradient 5s ease infinite alternate;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.channels {
  margin-top: 10rem;
  height: 5rem;
  display: flex;
  gap: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header_channel {
  object-fit: contain; /* mantém a proporção sem cortar a imagem */
  transform: scale(1.4);
}

.header_title {
  margin-top: 5rem;
  color: white;
  text-align: center;
}

.header_title h2 {
  font-size: 2.5rem;
  font-weight: lighter;
}

.header_title h1 {
  font-size: 3.5rem;
}

.header_line {
  margin-top: 2.5rem;
  width: 50%;
  height: 0.4rem;  
  background: var(--divider-bg-color);
}

.header_preco {
  margin-top: 3rem;
  color: white;
  text-align: center;
}

.header_preco p {
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
}

.header_preco h1 {
  font-size: 3rem;
}

#header_preco_valor {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
}

.header__button {
  animation: wiggle 2.2s linear infinite;
  font-size: 1.4rem;
  margin-top: 3rem;
}

/* .header_button {
  width: 18rem;
  padding: 1.5rem;
  letter-spacing: 4px;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 50px;
  margin-top: 3rem;
  color: white;
  text-justify: center;
  cursor: pointer;   
  
  background: linear-gradient(45deg,#9b34ef 0%,#490cb0 50%, transparent 100%);
  animation: wiggle 2.2s linear infinite;
}

.header_button:hover {
  border: #ff00e5 3px solid;
  background: transparent;
} */

.header_padding {
  width: 18rem;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 3rem;
  color: white;
}
.header_padding p{
  font-family: "Quicksand", sans-serif;
}

@keyframes background_gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    40%, 100% {
        transform: rotate(0);
    }
}

/* Main */

.main_plans {
  background: url(/assets/images/background-movies-series.png) #020228;
  background-repeat: no-repeat;
  background-position: right;
  color: white;
  height: 60rem;

  display: flex;
  flex-flow: column;
  align-items: center;

}

.main_plans_title {
  width: 85%;
  padding: 5rem;
  text-align: center;
  font-size: 2.5rem;
}

.main_plans_cards {
  width: 100%;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem; 
}

.main_plans_card {
  padding: 60px;
  width: 40rem;
  height: 45rem;
  border-radius: 10px;
  font-size: 1.5rem;
  background: var(--card-bg-color);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  transition: transform 1s ease-in-out;
}

.main_plans_cards:has(.main_plans_card:nth-child(1):hover)
  .main_plans_card:nth-child(2) {
  transform: rotateY(-45deg);
}

.main_plans_cards:has(.main_plans_card:nth-child(2):hover)
  .main_plans_card:nth-child(1) {
  transform: rotateY(45deg);
}

/* .main_plans_card:hover {
  .
  transform: rotateY(45deg);
} */


.main_card_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main_title_price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

.card_title_text {
  font-weight: bolder;
  font-size: 2rem;
}

.main_price_value {
  font-weight: bolder;
  font-size: 2.5rem;
  color: #ff00e5;
}

.main_card_item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.main_card_text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main_card_button {
  font-size: 1rem;
}













